[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pyinstaller = "*"

[packages]
websocket-server = {git = "https://github.com/Pithikos/python-websocket-server"}
websocket-client = "*"
python-osc = "*"

[requires]
python_version = "3.6"
